{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout.html" %}
{% block title %}
    {% if add_attendee %}
        Add Attendee
    {% else %}
        Edit Attendee
    {% endif %}
{% endblock %}
{% block body_content %}
    
<div class="content-section">
    <div class="center">
        <br>
        {% if add_attendee %}
            <h1>Add Attendee</h1>
        {% else %}
            <h1>Edit Attendee</h1>
        {% endif %}
        <br/>
        {{ wtf.quick_form(form) }}
    </div>
</div>          

{% endblock body_content %}
