<!-- Refere to the Attendee.html for comments -->
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout.html" %}
{% block title %}
    {% if add_conference %}
        Add Conference
    {% else %}
        Edit Conference
    {% endif %}
{% endblock %}
{% block body_content %}
    
<div class="content-section">
    <div class="center">
        <br>
        {% if add_conference %}
            <h1>Add Conference</h1>
        {% else %}
            <h1>Edit Conference</h1>
        {% endif %}
        <br/>
        {{ wtf.quick_form(form) }}
    </div>
</div>          

{% endblock body_content %}
