<!-- Refer to attendees.html for similar comments -->
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout.html" %}
{% block title %}Conferences{% endblock %}
{% block body_content %}
	
<div class="content-section">
			<br/>
			{{ utils.flashed_messages() }}
			<br/>
  	<div class="center">

			<h1 style="text-align:center;">Conferences</h1>
			{% if conferences %}
         	<hr class="intro-divider">
        		<table class="table table-striped table-bordered">
          			<thead>
		                <tr>
		                  <th width="10%"> Conference </th>
		                  <th width="10%"> Speaker </th>
		                  <th width="40%"> Company </th>
		                  <th width="10%"> email </th>
		                  <th width="10%"> Biography </th>
		                  <th width="10%"> Edit </th>
		                  <th width="10%"> Delete </th>
		                </tr>
          			</thead>
          			<tbody>
          				{% for conference in conferences %}
			                <tr>
			                  	<td> {{ conference.conference }} </td>
			                  	<td> {{ conference.speaker }} </td>
			                  	<td> {{ conference.company }} </td>
			                  	<td> {{ conference.email }} </td>
			                  	<td> {{ conference.bio }} </td>
			                  	<td>
				                  	<a href="{{ url_for('edit_conferences', id=conference.id) }}">
                      					<i class="fa fa-pencil"></i>
                      					Edit
                      				</a>
			                  	</td>
			                  	<td>
			                  		<a href="{{ url_for('delete_conferences', id=conference.id) }}">
                      					<i class="fa fa-trash"></i>
                      					Delete
                      				</a>
			                  	</td>
			                </tr>
		             	{% endfor %}
          			</tbody>
				</table>
          		<div style="text-align: center">
		        {% else %}
			        <div style="text-align: center">
			            <h3> No Conferences have been added. </h3>
			            <hr class="intro-divider">
			{% endif %}
			            <a href="{{ url_for('add_conference') }}" class="btn btn-default btn-lg">
	            			<i class="fa fa-plus"></i>
	            			Add Conference
	    				</a>
	    			</div>
	    		</div>
	</div>
</div>			

{% endblock body_content %}