<!-- Make relevant imports and extend the layout -->
{% import "bootstrap/utils.html" as utils %}
{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body_content %}
<!-- Add divisions to display the text in the center of the page -->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
					<h1>Home Page</h1>
					<p>Welcome to Shuaib's Conference Application!</p>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
	
{% endblock body_content %}
